html {
  background-color: grey;
}

body {
  margin: 0 auto;
  width: 1024px;
  background-color: var(--main_color);
}

:root {
  --main_color: #ffffff;
  --second_color: #000000;
  --decor_color: #ff6b08;
  --second_decor_color: #ddd;
  /*--decor_color: darkgreen;*/
}

.wrapper {
  display: flex;
}

.aside {
  color: var(--main_color);
  /*background-color: #007788;*/
  background-color: #005B70;
  width: 30%;
  padding-left: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 70%;
}

.photo {
  border-radius: 50%;
  /*padding-bottom: 17px;*/
  background-color: var(--main_color);
  /*border: solid var(--main_color);*/
  border: solid var(--main_color);
}

.link {
  color: var(--main_color);
}

.main__link {
  color: var(--second_color);
  text-decoration: underline 1px;
}

.link::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--main_color);
  position: absolute;
  left: -30px;
}

.tel::before {
  background-image: url(../img/phone.svg);
}

.mail::before {
  background-image: url(../img/mail.svg);
}

.github::before {
  background-image: url(../img/github.svg);
}

.linkedin::before {
  background-image: url(../img/linkedin.svg);
}

.telegram::before {
  background-image: url(../img/telegram.svg);
}

.town::before {
  background-image: url(../img/location.svg);
}

.contacts__item {
  position: relative;
}

.contacts__list{
  padding-left: 20px;
}

.course__dates{
  color: var(--main_color);
}

.section_wrapper {
  padding-bottom: 30px;
}

.item {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
  color: #fff;
}

.course__link{
  text-decoration: underline 1px;
}

.tech-skills__item,
.soft-skills__item,
.hard-skills__item,
.courses__item,
.languages__item,
.duties__item{
  list-style: square;
  color: var(--decor_color);
}

.item-text {
  color: var(--main_color);
}

.main-item-text {
  color: var(--second_color);
}

.main {
  padding: 30px;
}

.head-title__section {
  font-size: 30px;
  padding-bottom: 10px;
}

.position__title {
  font-size: 24px;
}
h4,h3{
  display: inline-block;
}

.position {
  padding-bottom: 30px;
}

.main-title {
  color: var(--decor_color);
  margin-bottom: 10px;
}

.project__link {
  text-decoration: underline;
  color: blue;
}

.mdb-link {
  text-decoration: underline;
  color: var(--second_color);
}

.project-exp__item {
  margin-bottom: 10px;
}

.main-section {
  padding-bottom: 10px;
}

.pet-experience__title,
.pet-experience__link,
.pet-experience__item,
.education__item-style,
.work-experience__item,
.duties__item{
  line-height: 24px;
  font-size: 18px;
}
.work-experience__city,
.course__dates,
.work-experience__info{
  font-style: italic;
}

.work-experience__period{
  margin-left: 10px;
}

.project__title {
  line-height: 25px;
}

.duties {
  list-style: square;
  
}

.education__item {
  margin-bottom: 2px;
}

.certificate__link {
  color: black;
}

.additional-info {
  font-weight: normal;
}

.pet-experience__link > a{
  color: #000000;
}

.pet-experience__link{
  margin-bottom: 10px;
}

.pet__duties {
  margin-bottom: 10px;
}

.duties_wrapper{
  margin-left: 15px;
  margin-bottom: 5px;
}
.skills_wrapper,
.courses_wrapper{
  margin-left: 10px;
}

.skills {
  width: 50px;
  display: inline-block;
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
}
.gained{
  background-color: var(--decor_color);
}

.not_gained{
  background-color: var(--second_decor_color);
}

.conatcts__title{
  margin-top: 17px;
}